

<form class="form-signin" action="<%= users_url %>" method="post">
  <h3 class="adventure-header">Sign Up</h1>

  <input
    type="hidden"
    name="authenticity_token"
    value="<%= form_authenticity_token %>">

  <label for="inputUsername" class="sr-only">User Name</label>
    <input
      type="username"
      name="user[username]"
      id="inputUsername"
      class="form-control"
      placeholder="Username"
      value="<%= @user.username %>"
      required autofocus>
  <br>

  <label for="inputPassword" class="sr-only">Password</label>
  <input
    type="password"
    name="user[password]"
    id="inputPassword"
    class="form-control"
    placeholder="Password"
    value="<%= @user.password %>"
    required>

    <%= link_to "Already have an account?", new_session_url %>
  <br>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
</form>
